source https://api.nuget.org/v3/index.json

nuget Fable.FontAwesome
nuget Feliz.Bulma
nuget Feliz.Bulma.Checkradio
nuget Feliz.Bulma.Divider
nuget Feliz.Bulma.QuickView
nuget Feliz.Bulma.Slider
nuget Feliz.ElmishComponents
nuget Feliz.UseElmish
nuget FSharp.Core
nuget Fable.DateFunctions
nuget Fable.Mocha
nuget Feliz
nuget Feliz.Router
nuget Thoth.Json
nuget YamlDotNet